.content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--ptui-spacing-6x);
}

.card {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: var(--ptui-spacing-1x);
  border-radius: var(--ptui-border-radius-lg);
  background-color: var(--color-bg-action);
  padding: var(--ptui-spacing-6x);
  color: var(--color-text-on-action);
  font: var(--font-body-md);
}

.digit {
  font: var(--font-weight-semibold) 72px/72px var(--font-family-title);
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
