.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--ptui-spacing-6x);
}

.case {
  height: calc(var(--ptui-spacing-1x) * 80);
  border-radius: var(--ptui-border-radius-lg);
  background-color: var(--color-bg-dark);
  position: relative;
  overflow: hidden;
}

.text {
  display: flex;
  position: absolute;
  inset: 0;
  align-items: flex-end;
  justify-content: center;
  padding: var(--ptui-spacing-6x);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-text-on-action);
}

.text p {
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
