@import url("./reset.css");

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Involve";
  font-weight: 400;
  src: url("/fonts/Involve-Regular.ttf");
}

@font-face {
  font-family: "Involve";
  font-weight: 500;
  src: url("/fonts/Involve-Medium.ttf");
}

@font-face {
  font-family: "Involve";
  font-weight: 600;
  src: url("/fonts/Involve-SemiBold.ttf");
}

@font-face {
  font-family: "Involve";
  font-weight: 700;
  src: url("/fonts/Involve-Bold.ttf");
}

:root {
  --font-family-title: "Involve";
  --font-family-main: "Montserrat";

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-body-sm: var(--font-weight-regular) 16px / 20px var(--font-family-main);
  --font-body-md: var(--font-weight-regular) 20px / 24px var(--font-family-main);
  --font-body-lg: var(--font-weight-regular) 24px / 32px var(--font-family-main);
  --font-body-xl: var(--font-weight-regular) 28px / 40px var(--font-family-main);

  --ptui-scale-0: 0px;
  --ptui-scale-0-25x: 1px;
  --ptui-scale-0-50x: 2px;
  --ptui-scale-1x: 4px;
  --ptui-scale-2x: 8px;
  --ptui-scale-3x: 12px;
  --ptui-scale-4x: 16px;
  --ptui-scale-5x: 20px;
  --ptui-scale-6x: 24px;
  --ptui-scale-7x: 28px;
  --ptui-scale-8x: 32px;
  --ptui-scale-10x: 40px;
  --ptui-scale-12x: 48px;
  --ptui-scale-16x: 64px;
  --ptui-scale-20x: 80px;

  --ptui-control-height-xs: 16px;
  --ptui-control-height-sm: 24px;
  --ptui-control-height-base: 32px;
  --ptui-control-height-lg: 40px;
  --ptui-control-height-xl: 48px;

  --ptui-border-radius-md: var(--ptui-scale-2x);
  --ptui-border-radius-lg: var(--ptui-scale-4x);

  --ptui-spacing-none: var(--ptui-scale-0); /* 0px */
  --ptui-spacing-1x: var(--ptui-scale-1x); /* 4px */
  --ptui-spacing-2x: var(--ptui-scale-2x); /* 8px */
  --ptui-spacing-3x: var(--ptui-scale-3x); /* 12px */
  --ptui-spacing-4x: var(--ptui-scale-4x); /* 16px */
  --ptui-spacing-5x: var(--ptui-scale-5x); /* 20px */
  --ptui-spacing-6x: var(--ptui-scale-6x); /*24px*/
  --ptui-spacing-8x: var(--ptui-scale-8x); /* 32px */
  --ptui-spacing-10x: var(--ptui-scale-10x); /* 40px */
  --ptui-spacing-12x: var(--ptui-scale-12x); /* 48px */
  --ptui-spacing-16x: var(--ptui-scale-16x); /* 64px */
  --ptui-spacing-20x: var(--ptui-scale-20x); /* 80px */

  --color-primary: #7a992b;

  --color-text-primary: #000000;
  --color-text-secondary: #373737;
  --color-text-tertiary: #1c4e55;
  --color-text-on-action: #ffffff;

  --color-bg-light: #ffffff;
  --color-bg-dark: #000000;
  --color-bg-action: var(--color-primary);
  --color-bg-action-hover: #b1b1b1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--ptui-spacing-12x);
  margin-inline: auto;
  padding-inline: var(--ptui-spacing-6x);
  max-width: 1536px; /* 96rem */
}
