.content {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: var(--ptui-spacing-6x);
}

.card {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ptui-spacing-6x);
  border-radius: var(--ptui-border-radius-lg);
  background-color: var(--color-bg-light);
  padding: var(--ptui-spacing-6x);
  font: var(--font-body-sm);
  color: var(--color-text-secondary);
}

.card svg {
  width: 48px;
  height: 48px;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
