.grid {
  display: grid;
  width: 100%;
  row-gap: var(--ptui-spacing-10x);
  column-gap: var(--ptui-spacing-6x);
  align-self: stretch;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--ptui-spacing-8x);
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
