.content {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: var(--ptui-spacing-6x);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ptui-spacing-6x);
  text-align: center;
  flex: 1 0 0;
}

.text {
  font: var(--font-body-lg);
  color: var(--color-text-on-action);
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
