.content {
  display: grid;
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
  grid-template-columns: 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr;
  /* gap: var(--ptui-spacing-6x); */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ptui-spacing-6x);
  text-align: center;
  flex: 1 0 0;
}

.text {
  font: var(--font-body-lg);
  color: var(--color-text-on-action);
}

.arrow {
  margin-top: 32px;
}

@media (max-width: 1080px) {
  .content {
    /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ptui-spacing-6x);
  }
  .arrow {
    margin: 0;
    transform: rotate(90deg);
  }
}
